/frontend/node_modules
/frontend/.next
AI SEO Tool.pdf
/backend/app/__pycache__
/backend/app/analyzers/__pycache__
/backend/app/api/routes/__pycache__
/backend/app/schemas/__pycache__
/backend/app/store/__pycache__
/backend/app/utils/__pycache__
/backend/app/worker/__pycache__
/backend/celerybeat-schedule
/backend/app/dependencies/__pycache__
.env
AI-SEO-Tool-Plugin/node_modules